// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import '~admin-lte/dist/css/adminlte.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.router-link-exact-active{
    background-color: #007bff;
    color: #fff !important;

}
